
@{
    ViewData["Title"] = "Erorr";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">

        <h1 class="text-black-50 bg-danger">Hata oluştu @ViewBag.hatacodu</h1>
        <h1 class="text-black-50 bg-danger">Hata oluştu @ViewBag.Message</h1>
    </div>
