
@{
    ViewData["Title"] = "PagerErorr";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">

        <h1 class="text-black-50 bg-danger">Hata oluştu @ViewBag.path</h1>
        <h1 class="text-black-50 bg-danger">Hata oluştu @ViewBag.path</h1>
    </div>

